@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

body {
	background: #08121A;
	background-image: url('../img2.jpg');
	background-repeat: no-repeat;
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 1.1em;
	color: #AAABAE;
	font-weight: 300;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #FFF;
	background: #141517 none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #1F2023;
}

code, blockquote {
	display: block;
	border-left: 5px solid #4D535B;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #131416;
	color:#ccc;
	border: none;
	font-family: "Courier New", Courier, monospace;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #4D535B;
	height: 1%;
}

p {
	line-height: 1.7em;
	margin-bottom: 25px;
}

a {
	color: #6B7480;
	border-bottom: 1px solid #6B7480;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #5DA1C3;
	color: #5DA1C3;
}

a:focus {
	outline: none;
}


a.button { background: #5DA1C3;
color: #FFF;
display: inline-block;

    padding: 8px 22px;

    font-size: 0.85em;
    letter-spacing: 0.25px;
	line-height: 1.3em;
border-radius: 5px;	
text-decoration: none;
	border:none;
text-transform: uppercase;
font-weight: bold;
}

a.button:hover {
	background:#4995BC;
}

a.button-reversed { 
	background-color: #ddd;
	color: #666;
}

a.button-reversed:hover {
	background: #ccc;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #1F2023;
}

fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding-right: 10px;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: none;
	background-color:#fff;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 0.9em;
}

form input.formbutton {
background: none repeat scroll 0% 0% #5DA1C3;
color: #FFF;
display: inline-block;

    padding: 8px 22px;

    font-size: 0.75em;
    letter-spacing: 0.25px;
	line-height: 1.3em;
border-radius: 5px;	
text-decoration: none;
	border:none;
text-transform: uppercase;
font-weight: bold;


	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 0.9em;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #eee;
	font-size: 2.7em;
	margin-bottom: 10px;
}

h2 {
	color: #6D7883;
font-size: 2.8em;
letter-spacing: -2px;
padding: 0px 0px 10px;
font-weight: bold;
margin: 0px;
}

h3 {
	color: #5DA1C3;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h4 {
    color: #ccc;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
	font-weight: bold;
}

h5 {
	padding-bottom: 10px;
	font-size: 1.1em;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
	padding: 0;
	list-style: disc;
}

li {
	padding-bottom: 10px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


.width {
	max-width: 1100px;
	margin: 0 auto;
}


#container {
	width: auto;
	margin: 0 auto;
}

header {
	padding: 0;
	z-index: 9999;
	border-radius: 10px;
	opacity: 0.97;
	margin: 20px auto 0;
	position: relative;
	text-align: left;
	background-color: #363A3F;
}



header h1 {
	margin: 0;
	float: left;
}

header h1 a {
    color: #fff;
    padding: 20px 25px;
   font-size: 0.8em;
    border-bottom: none;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}
 header h1 a:hover {
	text-decoration: underline;
	color: #fff;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

nav ul ul { 
	margin: 0;
	padding: 0 0 15px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

nav ul li {
	display: block;
	float: left;
	padding: 0px;
}

nav ul li li {
	padding: 0;
}


nav ul li a {
	display: block;
	float: left;
	padding: 32px 28px;
    color: #fff;
    font-size: 0.95em;
	margin: 0;
     border-bottom: none;
	letter-spacing: 0px;
}

nav ul li a i { padding-right: 5px; }

nav ul li li a {
	float: none;
	padding: 15px 0 15px 32px;
}

nav ul li a:hover {
	color: #fff;
	text-decoration: none;
}

nav ul li.selected a, nav ul li.selected a:hover {
	color: #fff;
	background-color: #2A2E32;
	font-weight: bold;
}


nav ul li a:hover, nav ul li.sfHover a {
	color: #fff;
}


nav ul li a.sf-with-ul:hover, nav ul li.sfHover a {
	color: #fff;
}


 nav ul li.sfHover ul a, nav ul ul {
	background: #363A3F;
}

nav ul li.sf-with-ul.selected ul li a, nav ul li.selected.sfHover li a,  nav ul li.sfHover a a, nav ul li.selected li a  {
	font-weight: normal;
}

nav ul li li a:hover, nav ul li.sfHover li a:hover {
	color: #fff;
	background-color: #2A2E32;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
	margin-top: 	10px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			71px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			auto; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/* intro */
div#intro {
	background-position: left;
	background-repeat: no-repeat;
}

div#intro .intro-content {
	padding: 100px 40px;
	text-align: center;
}

div#intro div.intro-content-short {
	padding: 50px 0 40px 20px;
	text-align: left;
}


div#intro h2 {
	text-shadow: 1px 1px 0 #000;
	font-size: 3em;
}


div#intro div.intro-content-short h2 {	
	font-size: 2.5em;
}

div#intro h2, div#intro p {
	color: #fff;
	font-weight: bold;
}

div#intro p {
	font-size: 1.3em;
	color: #ddd;
	line-height: 1.3em;
}
div#body.no-intro {
	margin-top: 30px !important;
}

a.button-slider {
	padding: 18px 25px;
	font-size: 0.8em;
	text-align: center;
	border: 2px solid #3F87AB;
	margin: 0px 10px 0px 0;
}

a.button-slider.button-reversed {
	border-color: #999;
}

a.button-slider i { padding-right: 5px; }

img {
	max-width: 100%;
	height: auto;
}

#body {
	margin: 0 auto;
 	padding: 0;
	clear: both;
}

#content {
	opacity: 0.97;
	padding: 1%;
	background-color: #2A2E32;
    	float: left;
	border-radius: 10px;
}

.two-column {
	width: 66%;
}

.three-column {
	width: 46%;
	margin: 0 2%;
}

.with-right-sidebar {
	margin-right: 2%;
}

.with-left-sidebar {
	margin-left: 2%;
}


article {
    padding: 10px 10px 20px 5px;
 }

article .article-info {
    color: #3D4348;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #3D4348;
	border-bottom-color: #3D4348;
}

.sidebar {
	opacity: 0.97;
	font-size: 1.05em;
}

.small-sidebar { 
   width: 24%;
}

.big-sidebar {
	width: 30%;
}

.left-sidebar { 
	float: left;
}

.right-sidebar {
	float: right;
}



.sidebar h4 {
	padding-bottom: 0;
	font-size: 1.4em;
	color: #858F99;
	letter-spacing: -1px;
	padding: 0;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	background-color: #2A2E32;
	border-radius: 10px;
	line-height: 1.9em;
	padding: 10px;
}


.sidebar ul li.bg, .sidebar ul li.bg li, .sidebar ul li.bg h4, .sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	background-color: #5DA1C3;
	color: #fff;
}
.sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	border-bottom-color: #fff;
}


.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 10px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 0.85em;
}

.sidebar li ul li ul {
	margin-top: 10px;
}

.sidebar li ul li li  {
	font-size: 1.0em;
	padding-left: 15px;
}



.sidebar li ul li.text { 
	border-bottom: none;
}



.sidebar li a {

	 border-bottom-color: #6B7680;
	color:#6B7680;
}


.sidebar li a:hover {
	color: #AEB5BC;
	 border-bottom-color: #AEB5BC;
}
.sidebar li ul li a.readmore {
   font-weight: bold;
}


.sidebar ul.blocklist li {
	padding: 3px 0;
}

.sidebar ul.blocklist li a,
.sidebar ul.blocklist li a:hover {
	border-bottom: 0;
	display: block;
	padding: 12px 10px;
	border-radius: 10px;
}

.sidebar ul.blocklist li a.selected,
.sidebar ul.blocklist li a.selected:hover {
	background:#5DA1C3;
	border-bottom: 1px solid #80B1CB;
    color: #FFFFFF;
	font-weight: bold;
}

.sidebar ul.blocklist li a:hover {
	background-color: #1E2124;
	color: #A0A8B0;
}
.sidebar li ul.blocklist li li {
	font-size: 1.0em;
}

.sidebar li ul.blocklist ul {
	margin-top: 0;
}

.sidebar li ul.blocklist li li a,
.sidebar li ul.blocklist li li a:hover {
	padding-left: 25px;
}

.sidebar ul.newslist li {
	padding: 20px 0px;
}

.sidebar ul.newslist p {
	line-height: 2.1em;
	margin-bottom: 0;
}

.sidebar ul.newslist span.newslist-date { 
	background-color: #5DA1C3;
	color: #fff;
	padding: 5px 10px;
}




.clear {
	clear: both;
}

footer {
	margin:50px auto 0;
	background: #1E2124;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 50px 25px;
}

footer .footer-content ul {
	width: 25%;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	padding: 5px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
	color: #41484E;
	border-bottom-color:#41484E;
    
}

footer .footer-content li {
	color: #41484E;
	line-height: 1.5em;
	font-size: 0.85em;
}

footer .footer-content li a:hover { 
	color: #A6AEB5;
	border-bottom-color:#A6AEB5;
}

footer .footer-content h4 {
	color: #6F7A85;
    	font-size: 1.5em;
    	padding-bottom: 10px;
	font-weight: bold;
	letter-spacing: 0px;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #131416;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #42454C;
	border-bottom-color: #42454C;
}

div.social-icons a {
	border-bottom: none;
	margin-right: 15px;
}


@media screen and (max-width: 740px) {

	body { font-size: 0.8em; }	

	
	header { text-align: center; }

	header h1 { float: none; text-align: center;  }

	header h1 a, header h1 a:hover { float: none; padding: 5px; }

	nav { float: none; }

	nav ul li a { padding: 20px 10px; }

	nav ul li li a { padding: 7px 0 7px 7px; }

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 23px; }

	div#container { width: auto; }

	footer .footer-content ul { margin-bottom: 15px; }

	footer .footer-content ul.endfooter { margin-bottom: 0px; }

	.width { width:auto; padding-left: 10px; padding-right: 10px; }
	
	#content, aside.sidebar { float: none; width: auto; }

	#content { padding: 10px; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {


	body { font-size: 0.8em; }

	header { text-align: center; padding: 10px 0 5px; }

	header h1 a, header h1 a:hover { text-align: center;  padding: 10px; font-size: 1.1em; }

	header h1, nav { float: none; }
	
	nav { height: auto; position: relative; }

	nav ul { margin: 0; }
	
	.sf-menu ul { position: relative; width: auto; display: block; margin-top: 0; }

	nav ul ul { margin: 0px; border-top-right-radius: 0; }

	nav ul li { margin: 5px 0; padding: 0; float: none; }

	nav ul li a { background-color: #D1333B; padding: 5px 7px; }

	nav ul li li a { padding: 2px 0 2px 10px; }

	nav ul li a, .sf-menu li { float: none; }

	nav ul li li { margin: 0; }

	div#intro .intro-content { padding: 20px 5px; }
	
	div#intro div.intro-content-short { padding: 20px 5px 10px; }

	div#body { margin-top: 10px; }


	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 0; }


}
